@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --yellow: #fdbe2c;
  --red: #c6241b;
  --blue: #05365c;
}
body {
  font-family: "PT Sans", sans-serif;
  width: 100vw;
  margin: 0;
  overflow: hidden;
}
.page {
  position: relative;
  height: 100vh;
  width: 100%;
}
.container {
  position: absolute; /* Provoca que el elemento se posicione de manera independiente y se superponga al resto de los componentes del layout */
  z-index: 1; /* Determina la profundidad del elemento en el eje z respecto otros elementos */

  display: grid; /* Activa el modelo de cuadrícula */
  grid-template-columns: 55% 45%; /* Define dos columnas con esos anchos */
  grid-template-rows: 20% 50% 30%; /* Define tres filas con esas alturas */
  grid-template-areas:
    "nav aside" /* */
    "section aside" /* Asigna nombres a las celdas para ubicar los elementos */
    "footer aside"; /* */
  height: 100%; /* Define el alto del contenedor */
  width: 100%; /* Define el ancho del contenedor */
}
.navbar {
  background: grey;
  grid-area: nav;
}
.navbar__content {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 0px 0px 80px;

  animation: 2s navbar 0.5s ease-in-out;
}
@keyframes navbar {
  0% {
    transform: translateY(-200px);
  }
  100% {
    transform: translateY(0px);
  }
}
.navbar__content img {
  width: 75px;
  height: auto;
}
.navbar__content ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  width: 450px;
}
.navbar__content ul li a {
  color: var(--red);
  font-weight: 300;
  text-decoration: none;
}
.loader {
  background-color: purple; /* Color del fondo del Loader */
  width: 100%; /* Asegura que el Loader cubra todo el ancho de la pantalla del ordenador */
  height: 100%; /* Asegura que el Loader cubra todo el alto de la pantalla del ordenador */
  display: flex; /* Ayuda a centrar las bolitas en el centro de la pantalla */
  align-items: center; /* Ayuda a ubicar las bolitas en el centro de la pantalla */
  justify-content: center; /* Ayuda a ubicar las bolitas en el centro de la pantalla */
  position: absolute; /* Permite que la capa Loader se superponga a los otros elementos. Generando un efecto de "cortina" */
  z-index: 3; /* Determina la profundidad del elemento en el eje z respecto otros elementos */

  animation: loader 0s linear forwards;
  /* Loader -> Nombre de la animacion (keyframe) */
  /* 2s -> Indica la duracion de la animacion (2 segundos) */
  /* linear -> Establace que la velocidad y el tipo de animacion es constante */
  /* forwards -> Obliga al Loader a quedarse en la configuracion/estado final (opacity: 0 y visibility: Hidden) para no interferir en la navegacion */
}

@keyframes loader {
  /* loader es el nombre de la animacion */
  0% {
    /* El Loader aparece visible del 0% al 95%. Permitiendo que se desvanezca posterior al 95% de la animación */
    opacity: 1;
    visibility: visible;
  }
  95% {
    /* El Loader aparece visible del 0% al 95%. Permitiendo que se desvanezca posterior al 95% de la animación */
    opacity: 1;
    visibility: visible;
  }
  100% {
    /* El Loader se vuelve invisible y no interfiere entre la interaccion del usuario con la web. La pagina se termino de cargar */
    opacity: 0;
    visibility: hidden;
  }
}
.loader div {
  /* El .loader div, se utiliza para definir las mismas variables/caracteristicas a varios objetos, en este caso bolitas, sin tener que repetir codigo */
  background: beige; /* Color de las bolitas */
  width: 40px; /* Ancho de las bolitas en pixeles */
  height: 40px; /* Alto de las bolitas en pixeles */
  border-radius: 50%; /* Define el radio que adoptara el borde del objeto, generando el circulo */
  margin: 10px; /* Margen que separa las bolitas entre si, para que no colisionen */

  transform: scale(0);

  animation: scaling 2s ease-in-out infinite;
  /* scaling -> Nombre de la animacion (keyframe) */
  /* 2s -> Indica la duracion de la animacion (2 segundos). Coincide con el tiempo de duracion del Loader */
  /* ease-in-out -> Tipo de animacion donde la velocidad del objeto aumenta de manera constante y desacelera casi al final */
  /* infinite -> Obliga al Loader a repetir la animcion hasta que el Loader se desactive */
}
.loader div:nth-child(1) {
  animation-delay: 0.2s;
  /* Le da a la primera bolita un delay de inicio de animacion de 0.2 segundos */
}
.loader div:nth-child(2) {
  animation-delay: 0.3s;
  /* Le da a la segunda bolita un delay de inicio de animacion de 0.3 segundos */
}
.loader div:nth-child(3) {
  animation-delay: 0.4s;
  /* Le da a la tercera bolita un delay de inicio de animacion de 0.4 segundos */
}

@keyframes scaling {
  /* scaling es el nombre de la animacion */
  0%, /* Valor inicial (0%) y final (100%) del elemento. Indica la escala en la que comienza y finaliza la "pelotita" */
  100% {
    transform: scale(
      0.2
    ); /* Al inicio y al final de la animación, las bolitas están en su tamaño más pequeño (escala 0.2) para dar la sensación de que casi desaparecen */
  }
  40% {
    /* Punto de control adicional. Agrega más detalle a la animación de la bolita */
    transform: scale(
      1
    ); /* En la mitad del tiempo, las bolitas crecen hasta su tamaño real (escala 1), creando el efecto visual de "pulsación" o crecimiento */
  }
  50% {
    /* Punto de control adicional. Agrega más detalle a la animación de la bolita */
    transform: scale(
      1
    ); /* En la mitad del tiempo, las bolitas crecen hasta su tamaño real (escala 1), creando el efecto visual de "pulsación" o crecimiento */
  }
}
